<% unless (platform.safari? || platform.chrome?) && platform.ios? %>
  <details class="notifications-help" data-notifications-target="details">
    <summary class="btn">
      <%= image_tag "external/web.svg", aria: { hidden: "true" }, size: 20 %>
      <strong><%= t(".summary", browser: platform.browser.capitalize) %></strong>
      <%= image_tag "disclosure.svg", aria: { hidden: "true" }, size: 10, class: "disclosure" %>
    </summary>

    <% case
      when platform.firefox? && platform.android? %>
        <% lock_icon = image_tag("lock.svg", alt: "", size: 20) %>
        <ol>
          <% t(".firefox_android.steps", lock_icon: lock_icon).each do |step| %>
            <li><%= step.html_safe %></li>
          <% end %>
        </ol>
      <% when platform.edge? && platform.desktop? %>
        <% lock_icon = image_tag("lock.svg", alt: "", size: 20) %>
        <% switch_icon = image_tag("external/switch.svg", alt: "", size: 22) %>
        <h2 class="txt-normal txt-medium margin-block-start"><%= t(".edge_desktop.site_heading") %></h2>
        <ol>
          <% t(".edge_desktop.site_steps", lock_icon: lock_icon).each do |step| %>
            <li><%= step.html_safe %></li>
          <% end %>
        </ol>
        <h2 class="txt-normal txt-medium margin-block-start"><%= t(".edge_desktop.browser_heading", browser: platform.browser.capitalize) %></h2>
        <% browser_steps = if platform.windows?
             t(".edge_desktop.browser_steps_windows", switch_icon: switch_icon, browser: platform.browser.capitalize)
           else
             t(".edge_desktop.browser_steps_macos", switch_icon: switch_icon, browser: platform.browser.capitalize)
           end %>
        <ol>
          <% browser_steps.each do |step| %>
            <li><%= step.html_safe %></li>
          <% end %>
        </ol>
      <% when platform.firefox? && platform.desktop? %>
        <h2 class="txt-normal txt-medium margin-block-start"><%= t(".firefox_desktop.site_heading") %></h2>
        <ol>
          <% t(".firefox_desktop.site_steps", browser: platform.browser.capitalize, url: root_url).each do |step| %>
            <li><%= step.html_safe %></li>
          <% end %>
        </ol>

        <h2 class="txt-normal txt-medium margin-block-start"><%= t(".firefox_desktop.browser_heading", browser: platform.browser.capitalize) %></h2>
        <% switch_icon = image_tag("external/switch.svg", alt: "", size: 22) %>
        <% browser_steps = if platform.windows?
             t(".firefox_desktop.browser_steps_windows", switch_icon: switch_icon, browser: platform.browser.capitalize)
           else
             t(".firefox_desktop.browser_steps_macos", switch_icon: switch_icon, browser: platform.browser.capitalize)
           end %>
        <ol>
          <% browser_steps.each do |step| %>
            <li><%= step.html_safe %></li>
          <% end %>
        </ol>
      <% when platform.chrome? && platform.desktop? %>
        <h2 class="txt-normal txt-medium margin-block-start"><%= t(".chrome_desktop.site_heading") %></h2>
        <% sliders_icon = image_tag("external/sliders.svg", alt: "", size: 20) %>
        <ol>
          <% t(".chrome_desktop.site_steps", sliders_icon: sliders_icon).each do |step| %>
            <li><%= step.html_safe %></li>
          <% end %>
        </ol>

        <h2 class="txt-normal txt-medium margin-block-start"><%= t(".chrome_desktop.browser_heading", browser: platform.browser.capitalize) %></h2>
        <% switch_icon = image_tag("external/switch.svg", alt: "", size: 22) %>
        <% browser_steps = if platform.windows?
             t(".chrome_desktop.browser_steps_windows", switch_icon: switch_icon, browser: platform.browser.capitalize)
           else
             t(".chrome_desktop.browser_steps_macos", switch_icon: switch_icon, browser: platform.browser.capitalize)
           end %>
        <ol>
          <% browser_steps.each do |step| %>
            <li><%= step.html_safe %></li>
          <% end %>
        </ol>
      <% when platform.chrome? && platform.android? %>
        <% menu_icon = image_tag("menu-dots-vertical.svg", alt: "", size: 16) %>
        <% switch_icon = image_tag("external/switch.svg", alt: "", size: 22) %>
        <% bell_icon = image_tag("notification-bell-alert.svg", alt: "", size: 16) %>
        <ol>
          <% t(".chrome_android.steps", menu_icon: menu_icon, switch_icon: switch_icon, bell_icon: bell_icon, browser: platform.browser.capitalize).each do |step| %>
            <li><%= step.html_safe %></li>
          <% end %>
        </ol>
      <% when platform.safari? && platform.desktop? %>
        <ol>
          <% t(".safari_desktop.steps", browser: platform.browser.capitalize, url: root_url).each do |step| %>
            <li><%= step.html_safe %></li>
          <% end %>
        </ol>
      <% else %>
        <p><%= t(".fallback", url: root_url, browser: platform.browser.capitalize) %></p>
    <% end %>
  </details>
<% end %>
