<% unless platform.chrome? || (platform.firefox? && !platform.android?) %>
  <details class="notifications-help pwa__instructions hide-in-pwa" data-controller="pwa-install" data-pwa-install-prompting-class="pwa--can-install" data-notifications-target="details">
    <summary class="btn">
      <%= image_tag "external/install.svg", aria: { hidden: "true" }, size: 20 %>
      <strong><%= t(".summary") %></strong>
      <%= image_tag "disclosure.svg", aria: { hidden: "true" }, size: 10, class: "disclosure" %>
    </summary>

    <% case
      when platform.edge? %>
        <% install_icon = image_tag("install-edge.svg", alt: "", size: 16) %>
        <ol>
          <% t(".edge.steps", install_icon: install_icon).each do |step| %>
            <li><%= step.html_safe %></li>
          <% end %>
        </ol>
      <% when platform.chrome? && platform.android? %>
        <% menu_icon = image_tag("menu-dots-vertical.svg", alt: "", size: 16) %>
        <ol>
          <% t(".chrome_android.steps", menu_icon: menu_icon).each do |step| %>
            <li><%= step.html_safe %></li>
          <% end %>
        </ol>
      <% when platform.firefox? && platform.android? %>
        <% menu_icon = image_tag("menu-dots-vertical.svg", alt: "", size: 16) %>
        <ol>
          <% t(".firefox_android.steps", menu_icon: menu_icon).each do |step| %>
            <li><%= step.html_safe %></li>
          <% end %>
        </ol>
      <% when platform.safari? && platform.desktop? %>
        <ol>
          <% t(".safari_desktop.steps").each do |step| %>
            <li><%= step.html_safe %></li>
          <% end %>
        </ol>
      <% when (platform.safari? || platform.chrome?) && platform.ios? %>
        <% share_icon = image_tag("external/share.svg", alt: "", size: 20) %>
        <p><%= t(".ios.notice", browser: platform.browser.capitalize, os: platform.operating_system) %></p>
        <ol>
          <% t(".ios.steps", share_icon: share_icon).each do |step| %>
            <li><%= step.html_safe %></li>
          <% end %>
        </ol>
      <% else %>
        <p><%= t(".fallback") %></p>
    <% end %>

    <div class="margin-block-start txt-align-center pwa__installer">
      <hr class="separator margin-block">
      <button class="btn btn--reversed center" data-action="pwa-install#promptInstall">
        <%= image_tag "external/install.svg", aria: { hidden: "true" } %>
        <%= t(".install_button") %>
      </button>
    </div>
  </details>
<% end %>
