<details class="notifications-help hide-in-browser" data-notifications-target="details">
  <summary class="btn">
    <%= image_tag "external/gear.svg", aria: { hidden: "true" }, size: 20 %>
    <strong><%= t(".summary", os: platform.operating_system) %></strong>
    <%= image_tag "disclosure.svg", aria: { hidden: "true" }, size: 10, class: "disclosure" %>
  </summary>

  <% case
    when platform.firefox? && platform.android? %>
      <% menu_icon = image_tag("menu-dots-vertical.svg", alt: "", size: 16) %>
      <% switch_icon = image_tag("external/switch.svg", alt: "", size: 22) %>
      <ol>
        <% t(".firefox_android.steps", menu_icon: menu_icon, switch_icon: switch_icon, browser: platform.browser.capitalize).each do |step| %>
          <li><%= step.html_safe %></li>
        <% end %>
      </ol>
    when platform.edge? && platform.desktop?
      <% switch_icon = image_tag("external/switch.svg", alt: "", size: 22) %>
      <ol>
        <% t(".edge_desktop.steps", switch_icon: switch_icon).each do |step| %>
          <li><%= step.html_safe %></li>
        <% end %>
      </ol>
    when (platform.firefox? || platform.chrome?) && platform.desktop?
      <% switch_icon = image_tag("external/switch.svg", alt: "", size: 22) %>
      <% steps = if platform.windows?
           t(".desktop_browser.windows_steps", switch_icon: switch_icon)
         else
           t(".desktop_browser.macos_steps", switch_icon: switch_icon)
         end %>
      <ol>
        <% steps.each do |step| %>
          <li><%= step.html_safe %></li>
        <% end %>
      </ol>
    when platform.safari? && platform.desktop?
      <% switch_icon = image_tag("external/switch.svg", alt: "", size: 22) %>
      <ol>
        <% t(".safari_desktop.steps", switch_icon: switch_icon).each do |step| %>
          <li><%= step.html_safe %></li>
        <% end %>
      </ol>
    when (platform.safari? || platform.chrome?) && platform.ios?
      <% gear_icon = image_tag("external/gear.svg", alt: "", size: 20) %>
      <% switch_icon = image_tag("external/switch.svg", alt: "", size: 22) %>
      <ol>
        <% t(".ios.steps", gear_icon: gear_icon, switch_icon: switch_icon).each do |step| %>
          <li><%= step.html_safe %></li>
        <% end %>
      </ol>
    when platform.chrome? && platform.android?
      <% gear_icon = image_tag("external/gear.svg", alt: "", size: 20) %>
      <% switch_icon = image_tag("external/switch.svg", alt: "", size: 22) %>
      <ol>
        <% t(".chrome_android.steps", gear_icon: gear_icon, switch_icon: switch_icon).each do |step| %>
          <li><%= step.html_safe %></li>
        <% end %>
      </ol>
    else
      <p><%= t(".fallback", browser: platform.browser.capitalize) %></p>
  <% end %>
</details>
